@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family:'Roboto' ;
    
    background-color: #fefafb;
}
* {
  margin: 0;
}

.container {
  padding:30px 0 ;
  text-align: center;
}

.gif {
  width: 100%;
  padding: 30px 0;
  height: auto;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 40px;
}

